<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      
      </a>
      
      <div class="container-fluid nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
           

        
        
        <ul class="nav nav-pills">
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Chef Tutors <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <!-- links -->
                <!-- links -->
                <li><%=link_to "About", abouts_path %></li>               
                <li><%=link_to "How It Works", how_it_works_path %></li>  
                <li><%=link_to "Advertisers", advertisers_path %></li>                
                <li><%=link_to "Developers", developers_path %></li>  
                <li><%=link_to "Careers", careers_path %></li>               
                <li><%=link_to "Team", teams_path %></li>  
                <li><%=link_to "Press", "#" %></li>             
                <li><%=link_to "Contact", contacts_path %></li>  
                <li><%=link_to "Help", helps_path %></li>                     
            </ul>
          
        </ul>          

            
     
        <ul class="nav nav-pills pull-right">           
              
                <li > <%= link_to 'Sign In', "#" %> </li>                
                <li > <%= link_to 'Sign Up', "#" %> </li>      

                
        </ul> 
      
      
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<!--/body -->


<div class="hero-unit">
  <center>
    <div class="input-append">
      <h1>"Search Your Favourites Recipe"</h1>
      <p>Tagline</p>
     <center> <input class="input-xxlarge" id="appendedInputButton" type="text" >
      <button class="btn" type="button">Search!</button></center>
    </div> 
  </center>
   
</div>

<div class = "container">
<div class="row-fluid">
  <div class="span12">
   
    <div class="row-fluid">
      <center>
      
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </li>
        
     
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </li>
        
     
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </li>
        
      </ul>
    </center>
    </div>
  </div>
</div>
</div>

<div class="hero-unit">
  <center><h1>"Home Cooking"</h1>
  <p>Tagline</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p></center>
  
</div>

<div class = "container">
<div class="row-fluid">
  <div class="span12">
   
    <div class="row-fluid">
      <center>
      
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </li>
        
     
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </li>
        
     
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </li>
        
      </ul>
    </center>
    </div>
  </div>
</div>


<!--  -->
</div>

